#heading {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3%;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: orange;
}
#line {
  margin-top: 0.2%;
  display: flex;
  justify-content: center;
}
.end {
  width: 3%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}
#middle {
  width: 5%;
  height: 2px;
  background-color: orange;
}
article {
  margin-top: 4%;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  gap: 10%;
}
#about-me > * {
  margin-bottom: 2%;
}
#image {
  height: 50%;
  width: 20%;
  background-color: black;

  background-image: url(https://placehold.co/400x500);
  background-repeat: no-repeat;
}
#about-me {
  width: 26%;
  display: flex;
  flex-direction: column;
  gap: 1.2%;
}
h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: orange;
}
p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
}
#btn {
  width: 26%;
  height: 4%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
}
